.task-display
    display: flex
    flex-direction: column
    .row
        width: 100%
.col-box
    display: flex
    .col
        flex: 1

.red
    color: red

.selected-filter
    background-color: blue
    color: white
